<div class="py-6 bg-primary text-white">
        <div class="container mx-auto">
                <h1 class="text-4xl font-semibold text-center">All Jobs</h1>
        </div>
    </div>
    <div class="container mx-auto">
       
        <div class="p-4">
             
    
                      <div class="grid grid-cols-1 sm:grid-cols-3 sm:gap-4">
                            <div class="col-span-2">
                                    <div class="card rounded bg-white mb-3 p-5">
                                            <div class="grid grid-cols-1 sm:grid-cols-3 sm:gap-4 mb-3">
                                            <div>
                                                <h6>Req Number :</h6>
                                            </div>
                                            <div class="col-span-2">
                                                <h6>1395</h6>
                                            </div>
                                            </div>
                                            <div class="grid grid-cols-1 sm:grid-cols-3 sm:gap-4 mb-3">
                                                    <div>
                                                        <h6>Req Number :</h6>
                                                    </div>
                                                    <div class="col-span-2">
                                                        <h6>1395</h6>
                                                    </div>
                                                    </div>
                                            
                                    </div>
                                    <div class="card rounded bg-white mb-3 p-5">
                                            <h5 class="font-semibold mb-3">Position Summary</h5>
                                            <h6  class="font-semibold">Responsibilities:</h6>
                                            <p class="mb-3">Responsibilities will include but not limited to:</p>
                                            <ul class="list-disc">
                                                <li>Coordinating the functional workstreams, (PTM, MTD and OTC) schedules and targets and monitoring the interdependencies that impact the various work processes.</li>
                                                <li>Supporting each workstream leader in defining clear cut-over plans and managing cross-project visibility and milestones outlined for each of the plans, ensuring alignment with the market and glo.</li>
                                                <li>Monitoring issues, risks and watch items and identifying gaps and mitigating and resolving blocking points.</li>
                                                <li>Engaging with the SAP S/4 HANA cross sectional leads and supporting communication between the leads and the team.</li>
                                                <li>Monitoring the overall project progress and program status by running the team's Governance meetings and other related team meetings as needed.</li>
                                                <li>Keeping the project aligned with the identified deployment goals and deadlines.</li>
                                            </ul>
                                            <h6  class="font-semibold">Qualifications:</h6>
                                            <ul>
                                                <li>An individual with vast experience in SAP deployment with particular emphasis on Plan to Make (PTM), Make to Deliver (MID) and order to Cash (OTC) workstreams.</li>
                                                <li>The ability to oversee the complex deployment of the SAP S/4 HANA enterprise in North America, ensuring clear project plans and milestone development for the key OMS workstreams of PTM, M interphase with the US SAP S4/HANA enterprise.</li>
                                            </ul>
                                        </div>
                            </div>
                            <div class="...">
                                    <div class="card rounded bg-white mb-3 p-5">
                                            
<form>
      
        <div class="mb-3">
            <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Name" required="">
        </div> 
        <div class="mb-3">
            <input type="email" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Email iD" required="">
        </div> 
        <div class="mb-3">
            <input type="password" id="confirm_password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Mobile Number" required="">
        </div> 
        <div class="flex justify-center items-center w-full mb-4">
                <label for="dropzone-file" class="flex flex-col justify-center items-center w-full h-40 bg-gray-50 rounded-lg border-2 border-gray-300 border-dashed cursor-pointer dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                    <div class="flex flex-col justify-center items-center pt-5 pb-6">
                        <svg aria-hidden="true" class="mb-3 w-10 h-10 text-gray-400" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"></path></svg>
                        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                    </div>
                    <input id="dropzone-file" type="file" class="hidden" />
                </label>
            </div> 
            
        <textarea id="comment" rows="4" class="mb-4 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write a comment..." required></textarea>

        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full  px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">APPLY</button>
    </form>
    
                                        </div>
                            </div>
                          </div>
        </div>
       
       
    </div>
    
    