<div class="py-6 bg-primary text-white">
    <div class="container mx-auto">
            <h1 class="text-4xl font-semibold text-center">All Jobs</h1>
    </div>
</div>
<div class="container mx-auto">
    <div class="bg-primary">
            <div class="grid grid-cols-3 gap-3">
                    <div class="basis-1/2">03</div>

                    <div class="basis-1/4">01</div>
                    <div class="basis-1/4">02</div>
                </div>

              
    </div>
    <div class="p-4">
            <div class="card rounded bg-white mb-3 p-5">
                    <div class="flex justify-between">
                            <div>
                                <h3>Program, Manager II</h3>
                            </div>
                            <div>
                                <button type="button" class="btn btn-primary">Save Changes</button>
                                <!-- <button type="button" class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false"> -->

                            </div>
                          </div>
                          
                          <div  class="flex items-center">
                              <div>
                                    
                              </div>
                              <div>
                                    <p><span class="mr-2"><img class="" src="../../assets/images/job.svg" alt=""></span> Coordinating the functional workstreams, (PTM, MTD and OTC) schedules and targets...</p>

                              </div>
                          </div>
                        <p><span><img class="" src="../../assets/images/history.svg" alt=""></span> Days Ago</p>
                  </div>

                  <div class="grid grid-cols-3 gap-4">
                        <div class="col-span-2">
                                <div class="card rounded bg-white mb-3 p-5">
                                    1
                                </div>
                        </div>
                        <div class="">
                                <div class="card rounded bg-white mb-3 p-5">
                                        1
                                    </div>
                        </div>
                      </div>
    </div>
   
   
</div>

